@page "/repo-settings"

@using HARbinger.Data

<MudPaper Elevation="25">
    <MudToolBar>
        <MudButton 
            OnClick="Back"
            Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.NavigateBefore" Color="Color.Default">Back</MudButton>
        <MudSpacer />
        <MudText>Select Repo To Export To</MudText>
        <MudSpacer />
        <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.NavigateNext" Color="Color.Primary">Next</MudButton>
    </MudToolBar>
</MudPaper>

<style>
    .fullscreen-container {
        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        height: 100vh; /* Full viewport height */
        width: 100vw; /* Full viewport width */
    }
</style>

<div class="fullscreen-container">
    <MudPaper Class="rounded-bl-xl" Style="width: 50%">
        <MudForm @ref="_form">
            <MudTextField T="string" Label="Repo Directory" Required="true" RequiredError="Repo Directory Is Required!" />
            <MudTextField @bind-Value="_repoName" Label="Repo" ReadOnly="true" Variant="Variant.Text" />
            <MudSelect T="string" Label="Branch" AnchorOrigin="Origin.BottomCenter">
                <MudSelectItem Value="@("main")" />
                <MudSelectItem Value="@("self-install/bug/SIP-1345-Test")" />
                <MudSelectItem Value="@("self-install/task/SIP-1677-Test")" />
            </MudSelect>
        </MudForm>
    </MudPaper>
</div>
<MudGrid>
    <MudItem xs="12" sm="7">
        <MudPaper Class="pa-4">
            
        </MudPaper>
        <MudPaper Class="pa-4 mt-4">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" DisableElevation="true" OnClick="@(()=>_form.Validate())">Load</MudButton>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="5">
        <MudPaper Class="pa-4 mud-height-full">
            
        </MudPaper>
    </MudItem>
</MudGrid>

@inject NavigationManager NavigationManager

@code {
    private WeatherForecast[] forecasts;
    MudTextField<string> pwField1;
    private MudForm _form;
    private string _repoName = "spectrum-web";

    private void Back()
    {
        NavigationManager.NavigateTo("/session-details");
    }
}